---
import type { WPPost } from '../lib/wp';
type Props = { post: WPPost };
const { post } = Astro.props as Props;

const pubDate = new Date(post.date).toLocaleDateString('zh-CN', {
  year: 'numeric',
  month: '2-digit',
  day: '2-digit',
});
---

<section class="relative my-10 first-of-type:mt-0 last-of-type:mb-0">
  <h2 class="my-0!">{post.title}</h2>
  <time class="text-xs antialiased opacity-60" datetime={post.date}>{pubDate}</time>
  <a class="absolute inset-0 text-[0px]" href={`/post/${post.slug}`} aria-label={`阅读文章：${post.title}`}>{post.title}</a>
</section>
